@model EmployeeHierarchy.Domain.Models.ViewModels.EmployeeViewModel

<div class="tree-node" style="margin-left:@(Model.HierarchyLevel * 40)px">
    <div class="node-content">
        <div class="circle-node">
            <span class="initials">
                @{
                    var initials = string.Join("", Model.PositionName
                            .Split(' ', StringSplitOptions.RemoveEmptyEntries)
                            .Select(w => w[0]))
                        .ToUpper();
                }
                @initials
            </span>
        </div>
        <div class="node-label">
            <strong>@Model.FullName</strong><br />
            <small>@Model.PositionName</small>
        </div>
    </div>

    @if (Model.Subordinates?.Any() == true)
    {
        <div class="tree-children">
            @foreach (var sub in Model.Subordinates)
            {
                @await Html.PartialAsync("_EmployeeNode", sub)
            }
        </div>
    }
</div>